.contact {
  background-image: url('../../Assets/img/320461.jpg');
  width: 100vw;
  height: 85vh;
  bottom: 0;
  position: absolute;
  background-position:center;
  background-size: fill;
  background-repeat: no-repeat;
}