@import 'Pages/Home.css';

* {
  margin: 0;
  padding: 0;

}

.app {
  min-width: 100vw;
  min-height: 100vh;
  color: black;
}
.headerWrapper {
  background-color: #eceef2;
  display: grid;
  grid-template-columns:repeat(2,2fr);
  margin: 0;
  /*position: sticky;
  top: 0;
  z-index: 1;*/
  height: fit-content;
  position: fixed;
  top: 0;  
  width: 100vw;
  height: 15vh;
}

.headerWrapper .header {
  grid-row: 1;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50%;
  color: white;
  background-color: black;
}
.headerWrapper .nav {
  grid-column: 2;
  padding: 10px;
  display: flex;
  width: 50%;
}
.headerWrapper .nav ul {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  list-style-type: none;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}
.navItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
}
.navItem:hover {
  animation: changeColor 0.7s;
  color: yellow;
  cursor: pointer;
  background-color: black;
}
@keyframes changeColor {
  0% {
    color: black;
    background-color: whitesmoke;
  }
  100% {
    color: yellow;
    background-color: black;
  }
}